<h3>🙌 Connect with Vishwesh! </h3>

<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/jainkuniya'});return false;">Schedule time with
    me</a>
<!-- Calendly link widget end -->

<h3>📢 Talks & Conferences </h3>
<div class="card-container">
    {% for item in site.portfolio.talks %}
    <div class="talk-card">
        <img class="talk-logo" src={{item.logo}} alt={{item.name}}>
        <div>
            <a target="_blank" href={{item.link}} class="company-name">{{item.name}}</a>
        </div>
        <a class="short-text" target="_blank" href={{item.slides}}>{{item.title}} <i class="fa fa-link"
                aria-hidden="true"></i></a>
    </div>
    {% endfor %}

</div>

<h3>✨ Portfolio companies</h3>
<div class="card-container">
    <!-- loop site.portfolio.companies -->

    {% for item in site.portfolio.companies %}
    <div class="card">
        <img class="company-logo" src={{item.logo}} alt={{item.name}}>
        <div>
            <a target="_blank" href={{item.link}} class="company-name">{{item.name}}</a>
        </div>
        <p class="short-text">{{item.designation}}</p>
    </div>
    {% endfor %}

</div>

<h3>More about Vishwesh!</h3>
<h4>♩ ♪ ♫ ♬ Let's jam together</h4>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
    {% for item in site.portfolio.music %}
    <div style="width: 240px;">
        <blockquote class="instagram-media" data-instgrm-captioned
            data-instgrm-permalink="{{item.link}}?utm_source=ig_embed&amp;utm_campaign=loading"
            data-instgrm-version="14"
            style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; padding:0;">
        </blockquote>
    </div>
    {% endfor %}
</div>
<div class="talk-card">
    Know more on <a href="https://www.instagram.com/jainkuniya/">Instagram!</a>
</div>
<!-- </div> -->

<script async src="//www.instagram.com/embed.js"></script>